.book{
    background-image: url("../../../public/images/main_bg.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    .book_table{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: 1px solid black;
        position: relative;
        margin-top: 5%;
        margin-bottom: 5%;
        .coinrougeleftdown{
            position: absolute;
            bottom:0;
            left: 0;
        }
        .coinrougerightdown{
            position: absolute;
            bottom:0;
            right: 0;
            
        }
        .coinrougeleftup{
            position: absolute;
            top:0;
            left: 0;
            transform: rotateZ(90deg);
        }
        .coinrougerightup{
            position: absolute;
            top:0;
            right: 0;
            transform: rotateZ(-90deg);
        }
        .titre_blog{
            margin-top: 10%;
            margin-bottom: 10%;
            h1{
                font-family: 'Courgette', cursive;
                text-align: center;
                
                span{
                    color: rgba(177,39,54,255);   
                }
            }
        }
       
        .formulaire{
            width: 80%;
            background-image: url("../../../public/images/book_table_bg.jpg");
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            h5{
                color: white;
                margin-top:10%;
                margin-bottom: 10%;
                
            }
            form{
                width: 80%;
                margin-bottom: 5%;
                .row{
                    .col-6{
                        input{
                            width: 100%;
                            border-radius: 10px;
                            padding-top: 1%;
                            padding-bottom: 1%;
                            margin-bottom: 3%;
                        }
                        select{
                            width: 100%;
                            border-radius: 8px;
                            padding-top: 2%;
                            padding-bottom: 2%;
                        }
                    }
                }
            }
            button{
                background-color: rgba(177,39,54,255);
                color: white;
                padding-bottom: 3%;
                padding-top: 3%;
                padding-right: 5%;
                padding-left:5%;;
                margin-bottom: 5%;
                border: none;
            }
        }
        
        .salade{
            display: flex;
            justify-content: space-evenly;
            width: 90%;
            .olive{
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .feta{
                    position: relative;
                    padding: 2px;
                    background-color: rgba(168, 163, 163, 0.904);
                    border-radius: 10px;
                    img{
                        width: 100%;
                        border-radius: 10px;
                    }
                    
                }
                p:first-of-type{
                   background-color: rgba(177,39,54,255);
                   color: white;
                   border-radius: 10px;
                //    padding: 5%;
                   position: relative;
                   bottom: 5%;
                   margin: 0;
                   width: 90%;
                   text-align:center;
                   span{
                       color: white;
                       font-size:20px;
                   }
                
                   
                }
                h6{
                    text-align: left;
                    width: 100%;
                }
                
            }
        }
        button{
            background-color: rgba(177,39,54,255);
            color: white;
            border: none;
            padding-bottom: 3%;
            padding-top: 3%;
            padding-right: 5%;
            padding-left:5%;
            margin-bottom: 15%;
            margin-top: 3%;
        }

    }
}