footer{
    background-image: url("../../../public/images/footer_background.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    .deco2{
        background-image: url("../../../public/images/footer_bottom_decoration_img.png");
        width: 100%;
        height: 10px;
        background-color: black;
    }
    .fin{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        .about_us{
            width: 33%;
            h1{
                color: white;
            }
            p{
                color: white;
            }
            .icones{
                color: white;
                width: 60%;
                display: flex;
                justify-content: space-between;
                i{
                    font-size: 20px;
                }
            }
        }
        .instagram{
            h1{
                color:white;
            }
        }
        .popular{
            width: 33%;
            h1{
                color: white;
            }
        }
        
    }
    .fond_rouge{
        background-color: rgba(177,39,54,255);
        height: 100px;
        width: 100%;
    }

}