.meetourchef{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    .titre_ourchef{
        width: 100%;
        h1:first-of-type{
            margin-bottom: 0;
            text-align: center;
            font-family: 'Courgette', cursive;
            color: white;
            span:first-of-type{
            color: red; //mettre le bon rouge
            }
        }
    }
    .troupe{
        display: flex;
        
        .chef1{
            position: relative;
            .top1::before{
                position: absolute;
                bottom: 0;
                height: 0;
                background-color: red;
                width: 100px;
                height: 0;
                content: "";
                left:30%;            
            }
            .top1:hover::before{
                height: 50%;
                content: "CHEF"
            }
        }
       
        p{
            text-align: center;
            color: white;
        }
        
    }
}


@media (min-width:320px) and (max-width:600px){
    .troupe{
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width:600px) and (max-width:1007px){
    .troupe{
        flex-direction: column;
        align-items: center;
    }
}