.section1{
    background-image: url("../../../public/images/main_bg.jpg");
    
    display: flex;
    flex-direction: column;
    align-items: center;
    .story_menulist{
        width: 80%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1{
            
        }
        p{
            text-align: center;
            width: 50%;
        }
        .menu_onglet{
            ul{
                width: 20%;
                li{
                    display: flex;
                    align-items: center;
                    a{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
                        
                        i{
                            font-size: 40px;
                        }
                    }
                }
                
            }
            .tab-content{
                // width: 80%;
                // padding-left:10px;
                // padding-right: 10px;    
                
                .tab-pane{
                    .row{
                        margin-bottom:10px;
                        padding-bottom: 5px;
                        .col-6{
                            display:flex;
                            align-items: center;
                            .imgronde{
                                // border: 1px solid black;
                                
                                padding: 2px;
                                padding-right:1px;
                                 // trouver le bon gris ou opacity
                                width: auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                
                                

                                img{
                                    width: 75%;
                                    border-radius: 50%;
                                    

                                }
                            }
                            p{
                                span{
                                    font-weight: bold;
                                }
                            }
                            .prix{
                                background-color: grey;
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}